<div class="app-container">
  <div class="u-equal-height cards-container" *ngIf="!isLoading">
    <div
      *ngFor="let data of cards"
      class="p-card--highlighted card p-card u-no-padding"
      style="
        margin: 40px;
        padding: 10px;

        width: max-content;
      "
    >
      <div
        class="card-header"
        style="
          padding-inline: 0.5rem;
          padding-top: 0.5rem;
          padding-bottom: 0.25rem;
          height: 10%;
          border-top: 5px solid #591b3d;
          width: 100%;
        "
      >
        <h5 style="margin: 0.5rem">CLOUD AND SERVER</h5>
        <hr class="u-sv1" />
      </div>
      <div
        class="p-card__content flexible"
        style="
          padding: 1rem;
          flex: auto;
          height: max-content;
          margin-block: 0.5rem;
          margin-bottom: 5px;
          min-height: 72%;
        "
      >
        <img class="p-card__image" [src]="data.featured_media" />
        <h4>
          <a [href]="data.link" target="_blank" class="p-heading--3">{{
            data.title.rendered
          }}</a>
        </h4>
        <div class="u-sv1 p-heading--6" style="margin-bottom: 10px">
          <i
            >By
            <a [href]="data._embedded.author[0].link" target="_blank">{{
              data._embedded.author[0].name
            }}</a>
            on {{ data.date | date: "dd MMMM yyyy" }}</i
          >
        </div>
      </div>
      <hr />
      <div class="card-footer" style="height: min-content; margin-bottom: 0px">
        <h5 style="padding: 0.5rem">Article</h5>
      </div>
    </div>
  </div>
</div>
